@import url('./font/christmaseve.ttf');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F5F5F7;
}
*::-webkit-scrollbar {
    width: 12px;
  }
*::-webkit-scrollbar-track {
    background: #fff;
  }
  
*::-webkit-scrollbar-thumb {
    background-color: #D51544;
}   
header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5vh;
    position: relative;
    z-index: 70;
    
}
.header__container{
    width: 85%;
    min-height: 10vh;
    border-radius: 12px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    display: flex;
    user-select: none;
}
.header_santa{
    width: 80px;
    height: 74px;
    background-image: url('./img/santa.png');
    background-size: cover;
}
.header__logo_text{
    line-height: 40px;
    font-size: 36px;
    font-family: 'ChristmasEve';
}
.header__select{
    width: 90px;
    height: 30px;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    outline: none;
    font-size: 24px;
    font-family: 'Montserrat', serif;
    color: #D51544;
    font-weight: 500;
}
a{
    text-decoration: none;
    color: #000;
}

.header__a{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    transition: 0.3s;
}
.header__a:hover{
    color: #D51544;
}
.header__a:nth-child(1){
    margin-right: 40px;
}
.header__a:nth-child(2){
    margin-right: 40px;
}
.header__nav{
    display: flex;
    position: relative;
}
.header__nav .dot {
    position: absolute;
    top: 30px;
    width: 8px;
    height: 8px;
    background: #D51544;
    border-radius: 50%;
    opacity: 0;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .header__nav a:nth-child(1):hover ~ .dot {
    -webkit-transform: translateX(45px);
    transform: translateX(45px);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 1;
  }
  
  .header__nav a:nth-child(2):hover ~ .dot {
    -webkit-transform: translateX(185px);
    transform: translateX(185px);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 1;
  }
  
  .header__nav a:nth-child(3):hover ~ .dot {
    -webkit-transform: translateX(330px);
    transform: translateX(330px);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 1;
  }
  



.header__more{
    display: flex;
}
.header__fill{
    width:45px;
    height: 45px;
    border: 1px solid #D2D2D7;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}
.header__fill:last-child{
    margin-right: 5px;
}
.header__fill:hover{
    cursor: pointer;
}
.header__bell{
    width: 20px;
    height: 22px;
    background-image: url('./img/bell.png');
    background-size: cover;
}
.header__bell_hover:hover{
    background-color: #D51544;
}
.header__bell_hover:hover .header__bell{
    transition: 0.5s;
    background-image: url('./img/bellWhite.png');
}
.header__favourite{
    width: 22px;
    height: 19px;
    background-image: url('./img/heart.png');
    background-size: cover;
}

.header__favourite_hover:hover{
    background-color: #D51544;
}
.header__favourite_hover:hover .header__favourite{
    transition: 0.5s;
    background-image: url('./img/headerWhite.png');
}

.header__search{
    width: 20px;
    height: 18px;
    background-image: url('./img/search.png');
    background-size: cover;
}
.header__search_active{
    background-color: #D51544;
}
.header__search_active .header__search{
    background-image: url('./img/searchWhite.png');
    background-size: cover;
}

.header__basket_text{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: #686870;
    margin-right: 10px;
}
.header__basket_hover{
    width: 140px;
}
.header__basket{
    width: 20px;
    height: 22px;
    background-image: url('./img/basket.png');
    background-size: cover;
}

.header__basket_active{
    background-color: #D51544;
}
.header__basket_active .header__basket{
    background-image: url('./img/basketWhite.png');
    background-size: cover;
}
.header__basket_active .header__basket_text{
    color: #fff;
}




.menu-btn {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    background-color: #fff;
    border-radius: 12px;
}

.menu-btn__burger {
    width: 40px;
    height: 6px;
    background-color: #D51544;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}
.menu-btn__burger::before, .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 6px;
    background: #D51544;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
    transform: translateY(-16px);
}
.menu-btn__burger::after {
    transform: translateY(16px);
}


.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    
    background: transparent;
    box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}
main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__container{
    width: 85%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}




.swiper {
    max-width: 85%;
    height: 704px;
    margin-bottom: 50px;
}
.swiper-wrapper{
    width: 100%;
    height: 648px;
}
.swiper-slide {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide{
    display: flex;
    width: 100%;
    height: 648px;
    border-radius: 20px;
}

.main__fill_text{
    width: 50%;
    height: 648px;
    padding: 40px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 7px solid #D51544;
}
.main__fill_title{
    font-size: 64px;
    font-family: 'ChristmasEve';
    font-weight: 500;
    margin-bottom: 45px;
}
.main__fill_subtitle{
    width: 73%;
    line-height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 35px;
}
.main__fill_sub{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #636363;
    margin-bottom: 45px;
}
.main__button_submit{
    width: 220px;
    height: 55px;
    border: none;
    background-color: #D51544;
    border-radius: 20px;
    font-size: 24px;
    color: #fff;
}
.main__button_submit:hover{
    cursor: pointer;
}
.main__fill_photo{
    width: 50%;
    height: 648px;
    background-image: url('./img/background__photo.png');
    background-size: cover;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.main__banner{
    width: 100%;
    height: 648px;
    background-image: url('./img/banner2.png');
    background-size: cover;
    border-radius: 20px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 60px 40px 40px 40px;
    justify-content: space-between;
}
.main__banner_text{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.main__banner_title{
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
}
.main__banner_subtitle{
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 45px;
}

.main__banner_bottom{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
}
.main__banner_fill{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.main__banner_code{
    width: 135px;
    height: 146px;
    background-image: url('./img/gr-code.png');
    background-size: cover;
}
.main__banner_donate{
    width: 180px;
    height: 80px;
    border: 1px solid black;
    background-color:transparent;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    user-select: none;
}
.main__banner_donate:hover{
    cursor: pointer;
}
.main__banner_subtitle:nth-child(2){
    margin: 0;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:root {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap,4px);
    --swiper-theme-color: #D51544;
} 

.main__catalog{
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 25px;
}
.main__catalog_wrap{
    display:flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.main__h1{
    font-size: 64px;
    font-family: 'ChristmasEve';
    font-weight: 500;
}
.main__filtr{
    display: flex;
    margin-top: 35px;
    margin-bottom: 25px;
}
.main__filtr_item{
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    background-color: #fff;
    margin-right: 15px;
}
.main__filtr_item:hover{
    cursor: pointer;
}
.main__filtr_item:nth-child(7){
    margin: 0;
}
.main__actived{
    background-color: #D51544;
    color: #fff;
}
.main__catalog_item{
    
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
}

.main__photo{
    width: 100%;
    height: 311px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__photo_fill{
    width: 200px;
    height: 311px;
    background-image: url('./img/1.png');
    background-size: cover;
}
.main__item_title{
    font-size: 18px;
    margin-top: 15px;
    font-weight: 600;
    margin-bottom: 10px;
}
.main__item_subtitle{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px;
    display: flex;
}
.main__item_subtitle:nth-child(6){
    margin: 0;
}
.main__item_color{
    color: #D51544;
}
.main__item_subtitle:nth-child(6){
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    text-decoration: line-through;
    margin-bottom: 5px;
}
.main__item_subtitle:nth-child(7){
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 28px;
    color: #D51544;
    margin-bottom: 20px;
}
.main__buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main__item_favourite{
    width: 135px;
    height: 45px;
    border: 1px solid #D51544;
    margin-right: 15px;
    border-radius: 10px;
    color: #D51544;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.main__item_favourite:hover{
    cursor: pointer;
}
.main__item_submit{
    width: 130px;
    height: 45px;
    background-color: #D51544;
    border-radius: 10px;
    user-select: none;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.main__item_submit:hover{
    cursor:pointer;
}
.main__about{
    width: 100%;
    margin-bottom: 35px;
}
.main__h1:nth-child(1){
    margin-top: 25px;
}
.main__about_history{
    width: 80%;
    margin-top: 25px;
}
.main__about_title{
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 15px;
    font-weight: 500;
}
.main__about_subtitle{
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    line-height: 35px;
}

footer{
    width: 100%;
    background-color: #fff;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__container{
    width: 85%;
    min-height: 25vh;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-around;
}
.footer__logo_fill{
    display: flex;
    align-items: center;
}
.footer__logo{
    width: 100px;
    height: 94.5px;
    background-image: url('./img/santa.png');
    background-size: cover;
}
.footer__logo_text{
    font-family: 'ChristmasEve';
    font-size: 46px;
    margin-left: 5px;
}
.footer__text_rights{
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    color: #636363;
    margin-top: 65px;
}
.footer_block:nth-child(2){
    font-family: 'Montserrat', sans-serif;
    display: flex;
}
.footer__blocks{
    display: flex;
    justify-content: space-between;
    width: 35%;
}
.footer_block{
    display: flex;
    flex-direction: column;
}
.footer__text_title{
    font-size: 16px;
    color: #636363;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
}
.footer__a{
    font-size: 16px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}
.footer__a:last-child{
    margin: 0;
}
.footer__text_subtitle{
    color: #000;
    font-family:'Montserrat', sans-serif;
    margin-bottom: 10px;
}
.footer__text_subtitle:last-child{
    margin: 0;
}
.footer__item_master{
    width: 57px;
    height: 33px;
    background-image: url('./img/mastercard.png');
    background-size: cover;
    margin-bottom: 15px;
}
.footer__item_visa{
    width: 57px;
    height: 45px;
    background-image: url('./img/visa.png');
    background-size: cover;
    margin-bottom:15px;
}
.footer__item_privat{
    width: 57px;
    height: 57px;
    background-image: url('./img/privat.png');
    background-size: cover;
}
.main__filter_item_filtr{
    width: 34px;
    height: 34px;
    background-image: url('./img/filtr.png');
    background-size: cover;
    display: none;
}
.footer__blocks2{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer_block_row{
    margin-left: 35px;
}







.popup{
    width: 590px;
    height: 753px;
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    position: absolute;
    top: 137px;
    z-index: 100;
    right: 7.5%;
    display: none;
}
.popUp_background{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    z-index: 50;
    background-color: rgba(0,0,0, 0.5);
    display: none;
}
.popup__top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.popup__h1{
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
}
.popup__close_fill{
    width: 42px;
    height: 42px;
    background-color: #F5F5F7;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup__close_fill:hover{
    cursor: pointer;
}
.popup__close{
    width: 20px;
    height: 20px;
    background-image: url('./img/close.png');
    background-size: cover;
}
.popup__wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 70%;
}
.popup__card{
    width: 90%;
    height: 70px;
    background-color: #F5F5F7;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}
.popup__card:last-child{
    margin: 0;
}
.popup__card_photo{
    width: 30px;
}
.popup__card_left{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.popup__card_info{
    margin-left: 10px;
}
.popup__card_text{
    font-size: 18px;
}
.popup__card_id{
    font-size: 16px;
    color: #D51544;
}
.popup__card_close_fill{
    width: 40px;
    height: 40px;
    border-radius:12px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -30px;
}
.favourite__card_close_fill{
    width: 40px;
    height: 40px;
    border-radius:12px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -30px;
}
.favourite__card_close_fill:hover{
    cursor: pointer;
    background-color: #D51544;
    transition: 0.5s;
}
.popup__card_close{
    width: 20px;
    height: 20px;
    background-image: url('./img/close.png');
    background-size: cover;
}
.popup__card_close_fill:hover{
    cursor: pointer;
    background-color: #D51544;
    transition: 0.5s;
}
.popup__card_right{
    display: flex;
    align-items: center;
}
.popup__card_price{
    color: #D51544;
    font-size: 18px;
    margin-right: 10px;
}
.popup__card_addAmount{
    display: flex;
    align-items: center;
}
.popup__card_add{
    width: 40px;
    height: 40px;
    border-radius: 12px;
    font-size: 24px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.popup__card_add:hover{
    cursor: pointer;
}
.popup__card_amount{
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
}
.popup__footer{
    width: 100%;
    height: 20%;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 10px;
}
.popup__footer_price{
    font-size: 32px;
    display: none;
}
.popup__footer_submit{
    font-size: 24px;
    background-color: #D51544;
    border-radius: 20px;
    width: 200px;
    height: 45px;
    display: none;
    justify-content: center;
    align-items: center;
    user-select: none;
    color: #fff;
}
.popup__footer_submit:hover{
    cursor: pointer;
}






.search__popup{
    width: 100%;
    height: 89vh;
    background-color: #fff;
    padding: 20px 80px 20px 80px;
    position: absolute;
    top: 137px;
    z-index: 100;
    display: none;
}
.search__popup_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popup__search_input{
    width: 90%;
    height: 45px;
    outline: none;
    border: none;
    background-color: #F5F5F7;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    border-radius: 12px;
}
.search__popup_wrap{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.search__card{
    width: 49%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    border-radius: 12px;
    font-family: 'Montserrat', sans-serif;
}
.search__card:nth-child(1){
    margin-bottom: 15px;
}
.search__card:nth-child(2){
    margin-bottom: 15px;
}
.search__card:nth-child(3){
    margin-bottom: 15px;
}
.search__card:nth-child(4){
    margin-bottom: 15px;
}
.search__card_top{
    margin-left: 10px;
}
.search__card_img{
    width: 150px;
}
.search__card_left{
    display: flex;
}
.search__card_info{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.search__card_name{
    font-size: 40px;
}
.search__card_id{
    font-size: 24px;
    color: #D51544;
}
.search__card_buttons{
    display: flex;
}
.search__card_button{
    padding: 10px;
    background-color: #D51544;
    color: #fff;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.search__card_button:nth-child(1){
    background-color: transparent;
    border: 1px solid #D51544;
    color: #000;
    margin-right: 10px;
}
.search__card_button:hover{
    cursor: pointer;
}
.search__card_oldprice{
    text-align: right;
    font-size: 24px;
    text-decoration: line-through;
}
.search__card_newprice{
    font-size: 32px;
    color: #D51544;
}
.search__card_right{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
}
.search__card_logo{
    width: 70px;
    height: 65px;
    background-image: url('./img/santa.png');
    background-size: cover;
}




.burger__popup{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 120px;
    background-color: #fff;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    z-index: 70;
    display: none;
    font-family: 'Montserrat', sans-serif;
}
.burger__popup_wrap{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 60px;
    justify-content: center;
}
.burger__popup_navigation{
    display: flex;
    flex-direction: column;
    font-size: 32px;
    color: #000;
}
.burger__popup_a{
    user-select: none;
}
.burger__popup_item{
    margin-bottom: 30px;
}


.filtr__popup{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    background-color: #fff;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    z-index: 300;
    display: none;
    font-family: 'Montserrat', sans-serif;
    padding: 40px;
    flex-direction: column;
}
.filtr__popup_top{
    width: 100%;
    display: flex;
    margin-bottom: 60px;
    justify-content: space-between;
}
.filtr__popup_wrap{
    width: 100%;
    height: 100%;   
    display: flex;
    justify-content: center;
}
.filtr__popup_nav{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.filtr__popup_item{
    padding: 5px;
    font-size: 20px;
    text-align: center;
    border: 1px solid #D51544;
    margin-bottom: 15px;
    border-radius: 10px;
    user-select: none;
}



.favourite__popup{
    width: 590px;
    height: 753px;
    background-color: #fff;
    border-radius: 20px;
    position: absolute;
    top: 137px;
    right: 6.5%;
    z-index: 100;
    font-family:'Montserrat', sans-serif;
    padding: 20px;
    display: none;
}
.favourite__popup_top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}
.favourite__popup_wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





























@media screen and (max-width:1920px) {
    .footer__container{
        align-items: center;
    }
}

@media screen and (max-width:1440px){
    .main__fill_subtitle{
        width: 78%;
    }
    .search__card_img{
        width: 120px;
    }
}


@media screen and (max-width:1370px){
    .main__fill_subtitle{
        width: 80%;
    }
}

@media screen and (max-width:1345px){
    .main__fill_subtitle{
        width: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:1125px){
    .main__fill_sub{
        margin-bottom: 25px;
    }
    .main__fill_title{
        margin-bottom: 25px;
    }
}

@media screen and (max-width:1200px){
    .main__fill_text{
        display: none;
    }
    .main__fill_photo{
        width: 100%;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
}

@media screen and (max-width:1150px){
    .header__a:nth-child(1){
        margin-right: 20px;
    }
    .header__a:nth-child(2){
        margin-right: 20px;
    }
}

@media screen and (max-width:1110px){
    .header__nav{
        display: none;
    }
    .menu-btn{
        display: flex;
    }
}

@media screen and (max-width:1024px){
    .header__nav{
        display: none;
    }
    .menu-btn{
        display: flex;
    }
    .burger__popup_item:nth-child(4){
        display: none;
    }
    .burger__popup_item:nth-child(5){
        display: none;
    }
    .burger__popup_item:nth-child(6){
        display: none;
    }
    .main__fill_text{
        display: none;
    }
    .main__fill_photo{
        width: 100%;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .main__banner_text{
        display: none;
    }
    .main__banner_bottom{
        display: none;
    }
}

@media screen and (max-width:935px){
    .main__filtr_item{
        padding: 5px;
    }
    .footer_block:nth-child(2){
        margin-left: 30px;
    }
}

@media screen and (max-width:890px){
    .footer__text_subtitle{
        font-size: 14px;
    }
    .footer_block:nth-child(2){
        margin-left: 20px;
    }
    .main__filtr_item{
        display: none;
    }
    .main__filter_item_filtr{
        display: flex;
    }
}

@media screen and (max-width:805px){
    .footer_block:nth-child(2){
        margin-left: 10px;
    }
    .main__catalog_item{
        padding: 20px;
    }
}

@media screen and (max-width:768px){
    .search__popup{
        padding: 20px 20px;
    }
    .search__card_button{
        padding: 5px;
    }
    .search__card_right{
        display: none;
    }
    .burger__popup_item:nth-child(4){
        display: flex;
    }
    .burger__popup_item:nth-child(5){
        display: none;
    }
    .burger__popup_item:nth-child(6){
        display: flex;
    }
    .main__filtr_item{
        display: none;
    }
    .main__filter_item_filtr{
        display: flex;
    }
    .popup{
        width: 100%;
        height: 88vh;
        position: absolute;
        top: 120px;
        left: 0px;
    }
    .burger__popup_messange{
        display: none;
    }
    .header__nav{
        display: none;
    }
    
    .header__fill:nth-child(2){
        display: none;
    }
    .header__fill:nth-child(4){
        display: none;
    }
    .menu-btn{
        display: flex;
    }
    .main__fill_photo{
        width: 640px;
        height: 640px;
        border-radius: 20px;
    }
    .main__banner{
        width: 640px;
        height: 640px;
        background-size: cover;
    }
    .main__fill_text{
        display: none;
    }
    .main__banner_text{
        display: none;
    }
    .main__banner_bottom{
        display: none;
    }
    .main__catalog_item{
        width: 320px;
    }

    .footer__logo{
        width: 60px;
        height: 56px;
    }
    .footer__logo_text{
        font-size: 32px;
    }
    .footer__text_rights{
        font-size: 10px;
    }
    .footer__blocks{
        width: 43%;
    }
    .footer__text_title{
        font-size: 14px;
    }
    .footer__text_subtitle{
        font-size: 12px;
        display: flex;
        justify-content: center;
    }
    .footer__a{
        font-size: 12px;
    }
    .footer__item_master{
        width: 47px;
        height: 27px;
    }
    .footer__item_visa{
        width: 45px;
        height: 35px;
    }
    .footer__item_privat{
        width: 45px;
        height: 45px;
    }
    
}


@media screen and (max-width:705px){
    .footer__container{
        min-height: 30vh;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
    .footer__logo_fill{
        margin-bottom: 35px;
    }
    .footer__blocks{
        flex-direction: row;
        width: 70%;
        margin-bottom: 35px;
    }
    .footer__text_subtitle{
        justify-content: flex-start;
    }
    .footer__text_exception{
        width: 70%;
    }
    .footer__item_visa{
        margin: 0 10px 0 0;
    }
    .footer__item_master{
        margin: 0 10px 0 0;
    }
    .footer__blocks2{
        flex-direction: row;
        width: 70%;
        justify-content: space-between;
    }
    .footer_block_row{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
    }
    .footer__text_rights{
        display: none;
    }

}

@media screen and (max-width:690px){
    .main__filtr_item{
        display: none;
    }
    .main__filter_item_filtr{
        display: flex;
    }
    .search__popup{
        padding: 20px 30px;
    }
    .popup__search_input{
        font-size: 16px;
        padding-right: 10px;
        width: 80%;
    }
}


@media screen and (max-width:590px){
    .popup__search_input{
        font-size: 16px;
        padding-right: 10px;
        width: 80%;
    }

}


@media screen and (max-width:530px){
    .header__select{
        display: none;
    }
}



@media screen and (max-width:480px){
    .burger__popup_item:nth-child(4){
        display: flex;
    }
    .burger__popup_item:nth-child(5){
        display: flex;
    }
    .burger__popup_item:nth-child(6){
        display: flex;
    }
    .search__popup{
        padding: 20px 30px;
    }
    .burger__popup_messange{
        display: flex;
    }
    .header__nav{
        display: none;
    }
    .header__a:nth-child(4){
        display: none;
    }
    .header__fill{
        margin: 0;
    }
    .header__fill:nth-child(1){
        display: none;
    }
    .header__fill:nth-child(4){
        display: none;
    }
    .header__select{
        display: none;
    }
    .menu-btn{
        display: flex;
    }
    .main__fill_photo{
        width: 320px;
        height: 320px;
        border-radius: 20px;
    }
    .main__banner{
        width: 320px;
        height: 320px;
        background-size: cover;
    }
    .swiper{
        height: 380px;
        max-width: 98%;
        z-index: 30;
    }
    .swiper-slide{
        height: 320px;
    }
    .main__banner_text{
        display: none;
    }
    .main__banner_bottom{
        display: none;
    }
    .main__filtr_item{
        display: none;
    }
    .main__fill_text{
        display: none;
    }
    .main__about_subtitle{
        font-size: 16px;
    }
    .main__about_history{
        width: 100%;
    }
    .footer__container{
        flex-direction: column;
        min-height: 30vh;
        align-items: center;
    }
    .footer__logo_fill{
        justify-content: center;
        margin-bottom: 20px;
    }
    .footer__text_rights{
        display: none;
    }
    .footer__text_title{
        font-size: 12px;
    }
    .footer__blocks{
        width: 80%;
    }
    .footer__blocks2{
        width: 80%;
    }
    .footer_block:nth-child(4){
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content: space-between;
        width: 65%;
    }
    .footer__item_master{
        margin: 0 10px 0 0;
    }
    .footer__item_visa{
        margin: 0 10px 0 0;
    }
    .footer__item_privat{
        height: 47px;
        width: 47px;
    }
    .footer__text_exception{
        width: 80%;
    }
}









@media screen and (max-width:420px){
    .header__logo_text{
        line-height: 34px;
        font-size: 30px;
    }
    .header_santa{
        width: 70px;
        height: 66px;
    }
}

@media screen and (max-width:390px){
    .header__logo_text{
        line-height: 32px;
        font-size: 28px;
    }
    .header_santa{
        width: 65px;
        height: 62px;
    }
}


@media screen and (max-width:380px){
    .header__logo_text{
        line-height: 30px;
        font-size: 26px;
    }
    .header_santa{
        width: 60px;
        height: 56px;
    }
    .header__fill{
        margin-right: 10px;
    }
    .footer_block_row{
        flex-direction: column;
    }
    .footer__item_master{
        margin: 0 0px 10px 0;
    }
    .footer__item_visa{
        margin:0 0px 10px 0 ;
    }
    .footer__item_privat{
        width: 45px;
        height: 45px;
    }
    .footer__container{
        min-height: 35vh;
    }
}

@media screen and (max-width:360px){
    .header__logo_text{
        line-height: 28px;
        font-size: 24px;
    }
    .header_santa{
        width: 56px;
        height: 54px;
    }
}


@media screen and (max-width:340px){
    .header__logo_text{
        line-height: 26px;
        font-size: 22px;
    }
    .header_santa{
        width: 52px;
        height: 50px;
    }
}




@media screen and (max-width:320px){
    .popup__h1{
        font-size: 22px;
    }
    .popup__card_right{
        display: flex;
        flex-direction: column-reverse;
    }
    .popup__card_add{
        width: 35px;
        height: 35px;
        font-size: 24px;
    }
    .popup__card_text{
        font-size: 16px;
    }
    .header__nav{
        display: none;
    }
    .header__a:nth-child(4){
        display: none;
    }
    .header__fill:nth-child(1){
        display: none;
    }
    .header__fill:nth-child(4){
        display: none;
    }
    .header_santa{
        width: 50px;
        height: 47px;
    }
    .header__logo_text{
        font-size: 22px;
        line-height: 24px;
    }
    .header__select{
        display: none;
    }
    .header__fill{
        width: 40px;
        height: 40px;
        margin-right: 5px;
    }
    .header__favourite, .header__search{
        width: 20px;
        height: 17px;
    }




    .main__fill_text{
        display: none;
    }
    .main__fill_photo{
        width: 320px;
        height: 320px;
        border-radius: 20px;
    }
    .main__banner{
        width: 320px;
        height: 320px;
        background-size: cover;
    }
    .swiper{
        height: 380px;
        max-width: 98%;
    }
    .swiper-slide{
        height: 320px;
    }
    .main__banner_text{
        display: none;
    }
    .main__banner_bottom{
        display: none;
    }
    .main__filtr_item{
        display: none;
    }
    .main__filtr_fill{
        width: 44px;
        height: 44px;
        background-color: #fff;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main__filter_item_filtr{
        display: flex;
    }
    .menu-btn{
        display: flex;
    }
    .main__catalog_item{
        width: 320px;
    }
    .main__about_subtitle{
        font-size: 16px;
    }
    .main__about_history{
        width: 100%;
    }
    .footer__container{
        flex-direction: column;
        min-height: 30vh;
        align-items: center;
    }
    .footer__logo_fill{
        justify-content: center;
        margin-bottom: 20px;
    }
    .footer__text_rights{
        display: none;
    }
    .footer__text_title{
        font-size: 12px;
    }
    .footer__blocks{
        width: 100%;
    }
    .footer_block:nth-child(4){
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content: space-between;
        width: 75%;
    }
    .footer__item_master{
        margin: 0;
    }
    .footer__item_visa{
        margin: 0;
    }
    .footer__item_privat{
        height: 47px;
        width: 47px;
    }
    .footer__blocks2{
        width: 100%;
    }
    .footer__item_master{
        margin: 0 0px 10px 0;
    }
    .footer__item_visa{
        margin:0 0px 10px 0 ;
    }
}